<div class="panel panel-default">
  <div class="panel-heading">By <%= property %></div>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Character</th>
        <th>Number of <%= property %></th>
      </tr>
    </thead>
    <tbody>
      <% i = 0 %>
      <% Character.sortedByValue(value).each do |name, data| %>
        <% i+=1 %>
        <tr>
          <td><%= i %></td>
          <td>
            <%= link_to data["info"] do %>
              <%= name.split.map(&:capitalize).join(' ').split('-').map(&:titleize).join('-') %><br />
              <img src="<%= data["imageURL"] %>">
            <% end %>
          </td>
          <td><%= data["value"] %></td>
        </tr>
      <% end %>
    </tbody>
 </table>
</div>
