<div class="jumbotron">
  <h1><img src="<%= image_path('Marvel-logo.png')%>"> Comics Data</h1>
</div>

<div>
<h4>(1) Hash of Character Data</h4>
<p>
  <%= Character.charactersHash %>
</p>
</div>

<hr>

<div>
<h4>(2) Characters Sorted by Popularity</h4>

  <% criteria = ["comics", "series", "stories"] %>
  <% criteria.each do |item| %>
    <%= render partial: "sorted", locals: { :property => item, :value => item.to_sym} %>
  <% end %>

<hr>

<div>
  <h4>(3) Events in common</h4>
  <ul class="list-group">
    <% Character.commonEvents.each do |event| %>
      <li class="list-group-item"><%= event %></li>
    <% end %>
  </ul>
</div>

<hr>

<div>
  <h4>Bonus: Popularity Chart (by number of series)</h4>
  <%= bar_chart( Character.chartData ) %>
</div>
